* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
      background-image: url("/Images/woodbackground.jpg");
      background-size: contain;
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
 #canvas{
     background-image: url("/Images/bg.png");
     background-size: cover;
     width: 800px;
     height: 500px;
     box-shadow: 8px 8px 9px 1px rgba(0, 0, 0, 0.83); 
     border-radius: 10px;
    }

 header{
     position: absolute;
     top: 0;
     width: 100vw;
     height: 10rem;
     display: flex;
     justify-content: center;
 }

