@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

body{
    background-image: url("../Images/woodbackground.jpg");
    background-size: contain;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

header{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 10rem;
    display: flex;
    justify-content: center;
}

button{
    width:200px;
    padding: 15px 0;
    text-align: center;
    font-size: 1.3rem;
    margin: 20px 10px;
    border-radius: 25px;
    border: 1px solid #9A281A;
    background: transparent;
    color: #fff;
    font-family: 'Mochiy Pop One', sans-serif;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    overflow: hidden;
   box-shadow: 8px 8px 9px 1px rgba(0, 0, 0, 0.83); 
   margin-top: 100px;  
}

span{
    background: #9A281A;
    height: 100%;
    width: 0%;
    border-radius:25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}



body h2{
    font-size: 1.5em;
    font-family: 'Mochiy Pop One', sans-serif;
    color: #9A281A; 
}


  

#button{
    display: flex;
    justify-content: center;
}

.imagesHome{
        width: 230px;
        height: 250px;
        justify-content: space-around;
        display: flex;  
        justify-content: space-evenly;
        margin-top: 100px;
}


.imagenes{
    display: flex;
    margin-bottom: 50px;
}


